/* Overall CSS
-----------------------------------------------*/
body {
	font-family: 'nexa_lightregular', serif;
  font-weight: 400;
	color: #424945;
  font-size: 16px;
}

section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* Nav
-----------------------------------------------*/
nav {
	margin-bottom: 50px;
}

nav a {
	text-decoration: none;
  font-family: 'nexa_boldregular', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #424945;
  -o-transition: color .2s ease-out, background .2s ease-out;
  -ms-transition: color .2s ease-out, background .2s ease-out;
  -moz-transition: color .2s ease-out, background .2s ease-out;
  -webkit-transition: color .2s ease-out, background .2s ease-out;
  // ...and now override with proper CSS property
  transition: color .2s ease-out, background .2s ease-out;
}

.space {
	margin-left: 20px;
}

.icon-space {
  margin-left: 10px;
}

.insta-space {
  margin-left: 30px;
}

.name {
	font-size: 18px;
	font-weight: 700;
	color: #424945;
  font-family: 'nexa_boldregular', sans-serif;
  font-weight: 900;
}

nav .title {
	font-size: 13px;
  letter-spacing: 0.05em;
  margin-top: 10px;
  font-family: 'nexa_lightregular', sans-serif;
}

.navigation {
  background-color: rgba(255,255,255,0.9);
  padding: 5px; 
  text-align: center; 
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 100%; 
  transition: top .5s;
  z-index: 100;
}

.navigation-hide {
  top: -90px;
}
.navigation-show {
  top: 0;
	z-index: 9999;
}

.monobg {
  padding: 65px 12px 5px 12px;
}

.mono {
  width: 45px;
}

.icons {
  width: 20px;
  margin-bottom: -4px;
}
  
.right {
  padding-right: 8px;
}

.blue .title {
  color: #1995DB;
}

.blue .monobg {
  background: #1995DB;
}

.blue .more:hover {  
  background: #1995DB; 
  border-color: #1995DB;
  color: white;
}

.blue a.link:hover {
  color:#1995DB;
}

.blue nav a:hover {
  color: #1995DB;
}

.blue .content a {
  color:#1995DB;
}

.blue .contact a {
  color:#1995DB;
}

.blue .work-btn:hover {  
  background:#1995DB; 
  border-color: #1995DB;
}

.red .title {
    color: #CE7A0B;
}

.red .monobg {
  background:#CE7A0B; 
}

.red .more:hover {  
  background:#CE7A0B; 
  border-color: #CE7A0B;
  color:white;
}

.red a.link:hover {
  color:#CE7A0B;
}

.red nav a:hover {
  color: #CE7A0B;
}

.red .content a {
  color:#CE7A0B;
}

.red .contact a {
  color:#CE7A0B;
}

.red .work-btn:hover {  
  background:#CE7A0B; 
  border-color:#CE7A0B;
}

.green .title {
    color: #45936E;
}

.green .monobg {
    background: #45936E;
}

.green .more:hover {  
  background:#45936E;
  border-color: #45936E;
  color:white;
}

.green a.link:hover {
  color:#45936E;
}

.green nav a:hover {
  color: #45936E;
}

.green .content a {
  color:#45936E;
}

.green .contact a {
  color:#45936E;
}
.green .work-btn:hover {  
  background:#45936E;
  border-color:#45936E;
}

/* Carousel
-----------------------------------------------*/
.carousel {
	margin-top: 8%;
}

.slick-prev {
	left: 10px;
	width: 50px;
	height: 50px;
}

.slick-next {
	right: 10px;
	width: 50px;
	height: 50px;
}

.caroclass {
	width:100%;
	height:inherit;
}

/* Work
-----------------------------------------------*/

.work-container {
  display: inline-block;
  position: relative;
  width: 24.7%;
  margin: 0px;
}

.work-container-inner {
  margin-top: 100%;
}

.element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.element-inner {
  display: inline-block;
  top: 1%;
  left: 0.5%;
  width: 90%;
  height: 90%;
  text-align: center;
}

.work a {
  background: rgba(0,0,0,0.0);
  color: rgba(255,255,255,0.0);
  margin: 10px auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -o-transition:color .2s ease-out, background .2s ease-out;
  -ms-transition:color .2s ease-out, background .2s ease-out;
  -moz-transition:color .2s ease-out, background .2s ease-out;
  -webkit-transition:color .2s ease-out, background .2s ease-out;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-out;
  text-decoration: none;
}

.work-btn { 
  padding: 10px 20px 10px 20px;
  width: 70px;
  font-family: 'nexa_boldregular';
  border-style: solid;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  -o-transition:color .2s ease-out, background .2s ease-out;
  -ms-transition:color .2s ease-out, background .2s ease-out;
  -moz-transition:color .2s ease-out, background .2s ease-out;
  -webkit-transition:color .2s ease-out, background .2s ease-out;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-out;
}

.revo {
  background: url(../img/th/revo.png) center;
  background-size: 100% 100%;
}

.parkey {
  background: url(../img/th/parkey.png) center;
  background-size: 100% 100%;
}

.days {
  background: url(../img/th/21days.png) center;
  background-size: 100% 100%;
}

.beef {
  background: url(../img/th/beef.png) center right;
  background-size: 100% 100%;
}

.desire {
  background: url(../img/th/desire.png) center;
  background-size: 100% 100%;
}

.fgs {
  background: url(../img/th/fgs.png) center;
  background-size: 100% 100%;
}

.expo{
  background: url(../img/th/expo.png) center;
  background-size: 100% 100%;
}

.bean {
  background: url(../img/th/bean.png);
  background-size: 100% 100%;
}

.mag {
  background: url(../img/th/mag.png);
  background-size: 100% 100%;
}

.hear {
  background: url(../img/th/hear.png);
  background-size: 100% 100%;
}

.fav {
  background: url(../img/th/fav.png);
  background-size: 100% 100%;
}

.causes {
  background: url(../img/th/causes.png);
  background-size: 100% 100%;
}

.inuitart {
  background: url(../img/th/inuitart.png);
  background-size: 100% 100%;
}

/* Contact
-----------------------------------------------*/

.contact {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
  margin-top: 10px;
}

.contact .title {
  font-size: 20px;
  font-family: 'nexa_boldregular', sans-serif;
  font-weight: 700;
}

.table-desktop {
  padding: 20px 0% 0px 0%;}

.table-desktop .wide {
  padding-right: 20px;
}

.table-mobile #contact {
  padding-top: 40px;
}

.face {
  width: 100%;
}


/* Footer
-----------------------------------------------*/

footer p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 10px;
  color: rgba(0,0,0,0.3);
}

/* Media Queries
-----------------------------------------------*/
@media only screen and (min-width: 1030px) {
  /* monitors */

  .nav-mobile {
  	display: none;
  }

  .table-mobile {
    display: none;
  }

  .work a:hover { 
    background: rgba(0,0,0,0.8) ;
    color: rgba(255,255,255,1.0);
  }

  .work-btn:hover { 
    padding: 10px 20px 10px 20px;
    width: 70px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

  .smaller {
    width: 50%;
    margin: 0 auto;
  }
}



@media only screen and (min-width: 768px) and (max-width: 1029px) {
  /* monitors */

  .nav-mobile {
  	display: none;
  }

  .icon-space {
  	display: none;
  }

  .work-container {
    width: 33%;
  }

  .table-desktop {
    padding: 20px 0% 0px 0%;
  }

  .table-mobile {
    display: none;
  }

  .work a:hover { 
    background: rgba(0,0,0,0.8) ;
    color: rgba(255,255,255,1.0);
  }

  .work-btn:hover { 
    padding: 10px 20px 10px 20px;
    width: 70px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
}



@media only screen and (max-width: 767px) {

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: initial;
  }

  .work-container {
    width: 49.55%;
  }

  .table-desktop {
    display: none;
  }

  .table-mobile {
    display: inline;
  }

  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
  }

  .carousel {
    margin-top: -40px;
  }
}


@media only screen and (max-device-width: 767px) {

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: initial;
  }

  .work-container {
    width: 49.25%;
  }

  .table-desktop {
    display: none;
  }

  .table-mobile {
    display: inline;
  }

  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
  }

  .carousel {
    margin-top: 30%;
  }

  .content {
    width: 80%;
    padding-left: 5px;
  }

  .next {
    font-size: 10px;
  }

  .splash {
    margin-top: 30px;
  }
}
