/* Overall CSS
-----------------------------------------------*/
body {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  color: #424945;
  font-size: 16px;
  margin: 0;
}

section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

 .offset a {
  position: absolute;
  left: -1000em;
  padding: 5px;
  font-weight: bold;
  background-color: #5476A6;
  z-index: 1000;
  color: white;
 }
 .offset a:focus, .offset a:active {
  position: absolute;
  top: 6em;
  left: 5em;
 }

/* Nav
-----------------------------------------------*/
nav {
  margin-bottom: 50px;
}

nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #424945;
  -o-transition: color .2s ease-out, background .2s ease-out;
  -ms-transition: color .2s ease-out, background .2s ease-out;
  -moz-transition: color .2s ease-out, background .2s ease-out;
  -webkit-transition: color .2s ease-out, background .2s ease-out;
  // ...and now override with proper CSS property
  transition: color .2s ease-out, background .2s ease-out;
}

.name {
  font-size: 18px;
  color: #424945;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

nav .title {
  font-size: 13px;
  letter-spacing: 0.05em;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.space {
  margin-left: 20px;
}

.navigation {
  background-color: rgba(255,255,255,0.9);
  padding: 5px; 
  text-align: center; 
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 100%; 
  transition: top .5s;
  z-index: 100;
}

.navigation-hide {
  top: -150px;
}
.navigation-show {
  top: 0;
  z-index: 9999;
}

.monobg {
  padding: 65px 12px 5px 12px;
}

.mono {
  width: 45px;
}
  
.right {
  padding-right: 8px;
}

.title {
  color: #5476A6;
}

.monobg {
  background: #5476A6;
}

.more:hover {  
  background: #5476A6; 
  border-color: #5476A6;
  color: white;
}

a.link:hover {
  color:#5476A6;
}

nav a:hover {
  color: #5476A6;
}

.content a {
  color:#5476A6;
}

.contact a {
  color:#5476A6;
}

.work-btn:hover {  
  background:#5476A6; 
  border-color: #5476A6;
}

/* Carousel
-----------------------------------------------*/
.carousel {
  margin-top: 8%;
}

.slick-prev {
  left: 10px;
  width: 50px;
  height: 50px;
}

.slick-next {
  right: 10px;
  width: 50px;
  height: 50px;
}

.caroclass {
  width:100%;
  height:inherit;
}

/* Work
-----------------------------------------------*/

.friendcanoe {
  background: #effbfb; /* Old browsers */
  background: -moz-linear-gradient(top, #effbfb 0%, #ccf9f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #effbfb 0%,#ccf9f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #effbfb 0%,#ccf9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#effbfb', endColorstr='#ccf9f9',GradientType=0 ); /* IE6-9 */
}

.inuit {
  background-image: url('../img/inuitart/background.png');
  background-size: cover;
  color: white;
}

.brains {
  background-image: url('../img/brainStation/background.png');
  background-size: cover;
  color: white;
}

.kardia {
  background-image: url('../img/kardia/background.png');
  background-size: cover;
  color: white;
}

.powerbi {
  background-image: url('../img/powerbi/background.png');
  background-size: cover;
  color: white;
}

.fgsp {
  background-image: url('../img/fgs/background.jpg');
  background-size: cover;
  color: white;
}

.archive {
  background-image: url('../img/archive.jpg');
  background-size: cover;
  color: white;
}

.mantle {
  background-image: url('../img/mantle/background.png');
  background-size: cover;
  color: white;
}

.checkin {
  background-image: url('../img/checkin/background.png');
  background-size: cover;
  color: white;
}

.days21 {
  background: #f9bc10; /* Old browsers */
  background: -moz-linear-gradient(top, #f9bc10 1%, #f7db8f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9bc10 1%,#f7db8f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9bc10 1%,#f7db8f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9bc10', endColorstr='#f7db8f',GradientType=0 ); /* IE6-9 */
}

.me {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 13%, #5476A6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 13%,#5476A6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 13%,#5476A6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5476A6',GradientType=0 ); /* IE6-9 */
}

.piece {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  width: 100%;
  padding-top: 100px;
  overflow: hidden;
}

.phone {
  float: left;
  padding-left: 100px;
  vertical-align: center;
  margin-right: 100px;
  height: 80vh;
}

.faces {
  height: 400px;
}

.phone-mobile {
  width: 80vw;
  margin-top: 20px;
}

.phone-mobile.faces {
  width: inherit;
}

.logo {
  width: 200px;
}

.piece-description {
  float: left;
  height: 100vh;
}

.project-title {
  font-weight: 600;
  font-size: 5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blurb {
  font-weight: 400;
  font-size: 2em;
  padding-bottom: 40px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #5476A6;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  -o-transition:color .2s ease-out, background .2s ease-out;
  -ms-transition:color .2s ease-out, background .2s ease-out;
  -moz-transition:color .2s ease-out, background .2s ease-out;
  -webkit-transition:color .2s ease-out, background .2s ease-out;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-out;
}

.btn:hover {
  background-color: #424945;
}

.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    content: " ";
    display: table;    
    clear: both !important;
}

/* Work
-----------------------------------------------*/

.work-container {
  display: inline-block;
  position: relative;
  width: 24.7%;
  margin: 0px;
}

.work-container-inner {
  margin-top: 100%;
}

.element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.element-inner {
  display: inline-block;
  top: 1%;
  left: 0.5%;
  width: 90%;
  height: 90%;
  text-align: center;
}

.work a {
  background: rgba(0,0,0,0.0);
  color: rgba(255,255,255,0.0);
  margin: 10px auto;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  -o-transition:color .2s ease-out, background .2s ease-out;
  -ms-transition:color .2s ease-out, background .2s ease-out;
  -moz-transition:color .2s ease-out, background .2s ease-out;
  -webkit-transition:color .2s ease-out, background .2s ease-out;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-out;
  text-decoration: none;
}

.work-btn { 
  padding: 10px 20px 10px 20px;
  width: 70px;
  font-family: 'Montserrat', sans-serif;
  border-style: solid;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  -o-transition:color .2s ease-out, background .2s ease-out;
  -ms-transition:color .2s ease-out, background .2s ease-out;
  -moz-transition:color .2s ease-out, background .2s ease-out;
  -webkit-transition:color .2s ease-out, background .2s ease-out;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background .2s ease-out;
}

.revo {
  background: url(../img/th/revo.png) center;
  background-size: 100% 100%;
}

.parkey {
  background: url(../img/th/parkey.png) center;
  background-size: 100% 100%;
}

.days {
  background: url(../img/th/21days.png) center;
  background-size: 100% 100%;
}

.beef {
  background: url(../img/th/beef.png) center right;
  background-size: 100% 100%;
}

.desire {
  background: url(../img/th/desire.png) center;
  background-size: 100% 100%;
}

.fgs {
  background: url(../img/th/fgs.png) center;
  background-size: 100% 100%;
}

.expo{
  background: url(../img/th/expo.png) center;
  background-size: 100% 100%;
}

.bean {
  background: url(../img/th/bean.png);
  background-size: 100% 100%;
}

.mag {
  background: url(../img/th/mag.png);
  background-size: 100% 100%;
}

.hear {
  background: url(../img/th/hear.png);
  background-size: 100% 100%;
}

.fav {
  background: url(../img/th/fav.png);
  background-size: 100% 100%;
}

.causes {
  background: url(../img/th/causes.png);
  background-size: 100% 100%;
}

.inuitart {
  background: url(../img/th/inuitart.png);
  background-size: 100% 100%;
}

  .prevnext {
    font-weight: 200;
  }

/* Contact
-----------------------------------------------*/

.contact {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.pic {
  width: 30%;
  float: left;
  padding-right: 30px;
}

.bio {
  width: 40%;
  float: left;
  padding-right: 30px;
}

.social {
  width: 20%;
  padding-right: 0;
  float: right;
}

.icon {
  width: 20px;
  margin-bottom: -4px;
  margin-right: 15px;
  margin-top: 5px;
}

.contact ul {
  list-style: none;
  padding-left: 0;
}

.contact li {
  padding-bottom: 5px;
}

.title {
  margin-top: 0;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.face {
  width: 100%;
}

footer p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgba(0,0,0,0.3);
}

/* Media Queries
-----------------------------------------------*/
@media only screen and (min-width: 1030px) {
  /* monitors */

  /*Pieces*/
  .phone-mobile {
    display: none;
  }

  .piece-description {
    width: 40%;
  }

  .nav-mobile {
    display: none;
  }

  .table-mobile {
    display: none;
  }

  .work a:hover { 
    background: rgba(0,0,0,0.8) ;
    color: rgba(255,255,255,1.0);
  }

  .work-btn:hover { 
    padding: 10px 20px 10px 20px;
    width: 70px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }

  .smaller {
    width: 50%;
    margin: 0 auto;
  }
}



@media only screen and (min-width: 768px) and (max-width: 1029px) {
  /* monitors */

  /*Pieces*/
  .phone-mobile {
    display: none;
  }

  .phone {
    display: none;
  }

  .piece-description {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .nav-mobile {
    display: none;
  }

  .work-container {
    width: 33%;
  }

  .table-desktop {
    padding: 20px 0% 0px 0%;
  }

  .table-mobile {
    display: none;
  }

  .work a:hover { 
    background: rgba(0,0,0,0.8) ;
    color: rgba(255,255,255,1.0);
  }

  .work-btn:hover { 
    padding: 10px 20px 10px 20px;
    width: 70px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
}



@media only screen and (max-width: 767px) {

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: initial;
  }

  .work-container {
    width: 49.55%;
  }

  .table-desktop {
    display: none;
  }

  .table-mobile {
    display: inline;
  }

  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
  }

  .carousel {
    margin-top: -40px;
  }

  /*Pieces*/
  .phone {
    display: none;
  }

  .piece {
    padding-top: 50px;
    height: 120vh;
  }

  .project-title {
    font-size: 3.5em;
  }

  .blurb {
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
  }

  .piece-description {
    text-align: center;
    padding-left: 0;
    float: none;
  }


  /*Footer*/
  .pic,
  .bio,
  .social { 
    width: 100%;
  }
}


@media only screen and (max-device-width: 767px) {

  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: initial;
  }

  .work-container {
    width: 49.25%;
  }

  .table-desktop {
    display: none;
  }

  .table-mobile {
    display: inline;
  }

  .slick-prev {
    left: -10px;
  }

  .slick-next {
    right: -10px;
  }

  .carousel {
    margin-top: 30%;
  }

  .content {
    width: 80%;
    padding-left: 5px;
  }

  .next {
    font-size: 10px;
  }

  .splash {
    margin-top: 30px;
  }

  /*Pieces*/
  .phone {
    display: none;
  }

  .piece {
    padding-top: 50px;
    height: 120vh;
  }

  .project-title {
    font-size: 3.5em;
    text-align: center;
  }

  .blurb {
    font-size: 1.5em;
    padding-left: 5px;
    padding-right: 5px;
  }

  .piece-description {
    text-align: center;
    padding-left: 0;
    float: none;
  }

  /*Footer*/
  .pic,
  .bio,
  .social { 
    width: 100%;
  }
}
