<section class="about contact" id="about">
  <!-- Desktop footer begins  -->
  <table border="0" align="center" class="table-desktop">
    <tr>
      <td class="wide" rowspan="2"><br>
        <img src="img/chloe.jpg" class="face">
      </td>
      <td class="title about">Designer, drummer, maker, shower singer.</td>
    </tr>
    <tr valign="top">
      <td class="wide about">
        <p>Chloe is currently working as a product designer at <a href="http://www.eventmobi.com/">EventMobi</a>. In her spare time she enjoys designing data visualizations, interactive Arduino experiences, and <a href="http://blog.chloesilver.ca">writing on her blog</a>.</p>

        <p>You can find Chloe at <a href="mailto:hello@chloesilver.ca" class="bold">hello@chloesilver.ca</a>, drumming in her <a href="http://tdotbatu.ca/">Brazilian batu drumming band</a>, at a number of local music concerts, or completing her latest <a href="http://bunz.com/profile/chloesil">Bunz trade</a>.</p>

        <footer>
          <p>This website and all content therein is intellectual property belonging to Chloe Silver 2012-2017.</p>
        </footer>
      </td>
    </tr>
  </table>
  <!-- Desktop footer ends -->
  <!-- Mobile footer begins -->
  <table border="0" align="center" class="table-mobile">
    <tr valign="top">
      <td class="title">About Chloe</td>
    </tr>
    <tr>
      <td>
        <p>Chloe is currently working as a product designer at <a href="http://www.eventmobi.com/">EventMobi</a>. In her spare time she enjoys designing data visualizations, interactive Arduino experiences, and <a href="http://blog.chloesilver.ca">writing on her blog</a>.</p>

        <p>You can find Chloe at <a href="mailto:hello@chloesilver.ca" class="bold">hello@chloesilver.ca</a>, drumming in her <a href="http://tdotbatu.ca/">Brazilian batu drumming band</a>, at a number of local music concerts, or completing her latest <a href="http://bunz.com/profile/chloesil">Bunz trade</a>.</p>

        <br><img src="img/chloe.jpg" class="face"><br>

        <footer>
          <p>This website and all content therein is intellectual property belonging to Chloe Silver 2012-2017.</p>
        </footer>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
  <!-- Mobile footer ends -->
</section>
<!-- Footer ends -->