<section class="about contact" id="about">
  <!-- Desktop footer begins  -->
  <table border="0" align="center" class="table-desktop">
    <tr>
      <td class="title">Yours Truly</td>
      <td class="title">About Me</td>
      <td class="title" id="contact">Say Hello!</td>
    </tr>
    <tr valign="top">
      <td class="wide"><br>
        <img src="img/chloe.jpg" class="face">
      </td>
      <td class="wide"><br>I am a graphic designer of web and print, amateur photographer, and hands-on craftstress. I  enjoy tackling new challenges and discussing design, music and the occasional knock-knock joke.<br><br>If you'd like to collaborate or just share a good joke, feel free to drop me a line.</td>
      <td><br>
        <form name="contactform" method="post" action="send_form_email.php">
          <table width="340px">
          <tr>
           <td colspan="2">
            Kindly send your tidings to <a href="mailto:hello@chloesilver.ca" target="_top">hello@chloesilver.ca</a> or fill out the handy form below.
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="first_name">First Name</label>
           </td>
           <td valign="top">
            <input  type="text" name="first_name" maxlength="50" size="30">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="last_name">Last Name</label>
           </td>
           <td valign="top">
            <input  type="text" name="last_name" maxlength="50" size="30">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="email">Email Address</label>
           </td>
           <td valign="top">
            <input  type="text" name="email" maxlength="80" size="30">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="telephone">Telephone Number</label>
           </td>
           <td valign="top">
            <input  type="text" name="telephone" maxlength="30" size="30">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="comments">Comments</label>
           </td>
           <td valign="top">
            <textarea  name="comments" maxlength="1000" cols="31" rows="6"></textarea>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="text-align:center">
            <input type="submit" value="Submit">
           </td>
          </tr>
          </table>
        </form>
      </td>
    </tr>
  </table>
  <!-- Desktop footer ends -->
  <!-- Mobile footer begins -->
  <table border="0" align="center" class="table-mobile">
    <tr valign="top">
      <td class="title">About Me</td>
    </tr>
    <tr>
      <td><br>
        <img src="img/chloe.jpg" class="face"><br>I am a graphic designer of web and print, amateur photographer, and hands-on craftstress. I  enjoy tackling new challenges and discussing design, music and the occasional knock-knock joke.<br><br>If you'd like to collaborate or just share a good joke, feel free to drop me a line.
      </td>
    </tr>
    <tr>
      <td class="title" id="contact">Say Hello!</td>
    </tr>
    <tr>
      <td><br>
        <form name="contactform" method="post" action="send_form_email.php">
          <table>
          <tr>
           <td colspan="2">
            Kindly send your tidings to <a href="mailto:hello@chloesilver.ca" target="_top">hello@chloesilver.ca</a> or fill out the handy form below.
           </td>
           
          </tr>
          
          <tr>
           <td valign="top">
            <label for="first_name">First Name</label>
           </td>
           <td valign="top">
            <input  type="text" name="first_name" maxlength="50" size="25">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="last_name">Last Name</label>
           </td>
           <td valign="top">
            <input  type="text" name="last_name" maxlength="50" size="25">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="email">Email Address</label>
           </td>
           <td valign="top">
            <input  type="text" name="email" maxlength="80" size="25">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="telephone">Telephone Number</label>
           </td>
           <td valign="top">
            <input  type="text" name="telephone" maxlength="30" size="25">
           </td>
          </tr>
          <tr>
           <td valign="top">
            <label for="comments">Comments</label>
           </td>
           <td valign="top">
            <textarea  name="comments" maxlength="1000" cols="26" rows="6"></textarea>
           </td>
          </tr>
          <tr>
           <td colspan="2" style="text-align:center">
            <input type="submit" value="Submit">
           </td>
          </tr>
          </table>
        </form>
      </td>
    </tr>
  </table>
  <!-- Mobile footer ends -->
</section>
<footer>
  <p>ALL RIGHTS RESERVED BY CHLOE SILVER 2012-2017</p>
</footer>
<!-- Footer ends -->