<section class="contact" id="about">
  <div class="clearfix">
    <div class="pic">
      <img src="img/chloe.jpg" class="face">
    </div>
    <div class="bio">
      <h2 class="title">Designer, drummer, maker, shower singer</h2>

      <p>Chloe is currently working as a product designer at <a href="http://www.eventmobi.com/">EventMobi</a>. In her spare time she enjoys designing data visualizations, interactive Arduino experiences, and <a href="http://blog.chloesilver.ca">writing on her blog</a>.</p>

      <p>You can find Chloe at <a href="mailto:hello@chloesilver.ca" class="bold">hello@chloesilver.ca</a>, drumming in her <a href="http://tdotbatu.ca/">Brazilian batu drumming band</a>, at a number of local music concerts, or completing her latest <a href="http://bunz.com/profile/chloesil">Bunz trade</a>.</p>

      <footer>
        <p>This website and all content therein is intellectual property belonging to Chloe Silver 2012-2017.</p>
      </footer>
    </div>
    <div class="one-third social">
      <h2 class="title">Social</h2>
      <ul>
        <li> 
          <a href="https://twitter.com/chloesil" target="blank">
            <img src="img/icons-twitter.png" class="icon">Twitter
          </a>
        </li>
        <li> 
          <a href="https://medium.com/@chloesil" target="blank">
            <img src="img/icons-medium.png" class="icon">Medium
          </a>
        </li>
        <li> 
          <a href="https://dribbble.com/chloesil" target="blank">
            <img src="img/icons-dribbble.png" class="icon">Dribbble
          </a>
        </li>
        <li>
          <a href="http://instagram.com/chloesil" target="blank">
            <img src="img/icons-insta.png" class="icon">Instagram
          </a>
        </li>
        <li>
          <a href="https://ca.linkedin.com/in/chloesilver" target="blank">
            <img src="img/icons-04.png" class="icon">Linkedin
          </a>
        </li>
        <li>
          <a href="https://vimeo.com/chloesil" target="blank">
            <img src="img/icons-03.png" class="icon">Vimeo
          </a>
        </li>
        <li> 
          <a href="https://soundcloud.com/chloe-silver/" target="blank">
            <img src="img/icons-02.png" class="icon">SoundCloud
          </a>
        </li>
        <li> 
          <a href="https://open.spotify.com/user/chloesil" target="blank">
            <img src="img/icons-spotify.png" class="icon">Spotify
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Footer ends -->