<script type='text/javascript'>
  // Smooth Scrolling (Anchors)
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });

  // Colour Randomizer
  jQuery(function($) {
    $(document).ready(function() {
      var colors = ["red", "green", "blue"],
        css = colors[Math.floor(Math.random() * colors.length)];
      $("body").addClass(css);
    });
  });
</script>
<script type="text/javascript">
  // google analytics stuff, separate from other scripts
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66538906-1', 'auto');
  ga('send', 'pageview');
  ga(‘set’, ‘&uid’, {{USER_ID}}); // Set the user ID using signed-in user_id.
</script>

<!-- navigation begins -->
<nav>
  <div class="navigation">

    <!-- Desktop nav begins -->
    <div class="nav-desktop">
      <table border="0" align="center" width="90%">
        <tr>
          <td align="left" width="80px">
            <a href="index">
              <span class="monobg">
                <img src="img/mono.png" class="mono">
              </span>
            </a>
          </td>
          <td align="left" width="145px">
            <span class="name">CHLOE SILVER</span>
          </td>
          <td align="left" width="185px">
          <script language="javascript" type="text/javascript">
            function random_imglink(){
            var myimages=new Array()
            myimages[1]="is quick with a camera"
            myimages[2]="is susceptible to flattery"
            myimages[3]="loves potato chips"
            myimages[4]="thinks she's punny"
            myimages[5]="is sans serif"
            myimages[6]="is obsessed with pixels"
            myimages[7]="is mobile-friendly"

            var ry=Math.floor(Math.random()*myimages.length)
            if (ry==0)
            ry=1
            document.write('<span class="title">'+myimages[ry]+'</span>')
            }
            random_imglink()
          </script>
          </td>
          <td align="right" class="right">
            <a href="#work" class="nav-item">WORK</a>
            <a href="#about" class="nav-item space">ABOUT</a>
            <a href="http://blog.chloesilver.ca" class="nav-item space">BLOG</a>
          </td>
        </tr>
      </table>
    </div>
    <!-- Desktop nav ends -->
    <!-- Mobile nav begins -->
    <div class="nav-mobile">
      <table border="0" align="center" width="90%">
        <tr>
          <td align="left" width="80px">
            <a href="index">
              <span class="monobg">
                <img src="img/mono.png" class="mono">
              </span>
            </a>
          </td>
          <td align="left">
            <span class="name">CHLOE SILVER</span><br>
            <span class="title">
              <script language="javascript" type="text/javascript">
                function random_imglink(){
                var myimages=new Array()
                myimages[1]="is quick with a camera"
                myimages[2]="is susceptible to flattery"
                myimages[3]="loves potato chips"
                myimages[4]="thinks she's punny"
                myimages[5]="is sans serif"
                myimages[6]="is obsessed with pixels"
                myimages[7]="is mobile-friendly"

                var ry=Math.floor(Math.random()*myimages.length)
                if (ry==0)
                ry=1
                document.write('<span class="title">'+myimages[ry]+'</span>')
                }
                random_imglink()
              </script>
            </span>
          </td>
          <td align="right js-nav-toggle">
            <img src="img/icons-nav.png" class="icon js-nav-toggle">
          </td>
        </tr>
      </table>
    </div>
    <div class="js-nav" style="display: none; margin-top: 10px;">
      <a href="http://chloesilver.ca#work" class="nav-item">WORK</a><br>
      <a href="#about" class="nav-item">ABOUT</a><br>
      <a href="http://blog.chloesilver.ca" class="nav-item">BLOG</a>
    </div>
    <!-- Mobile nav ends -->
  </div>
</nav>
<!-- navigation ends -->