<head>
    <!-- Favicon -->
    <link href="http://blog.chloesilver.ca/favicon.ico" rel="icon" type="image/x-icon">

    <!-- Metadata Stuff -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Chloe Silver Design</title>
    <meta name="author" content="Chloe Silver" />
    <meta name="description" content="Chloe Silver's Design Portfolio" />
    <meta name="keywords"  content="design,portfolio,creative,freelance,toronto,animate,code,illustration,installation,craft,print,web" />
    <meta name="Resource-type" content="Document" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0">

    <!-- CSS -->
    <!-- Main page CSS -->
    <link rel="stylesheet" type="text/css" href="css/styles-home.css" />
    <!-- Project page CSS -->
    <link rel="stylesheet" type="text/css" href="css/styles-work.css" />
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,400i,600,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700" rel="stylesheet">
    <!-- Carousel -->
    <link rel="stylesheet" type="text/css" href="carousel/carousel.css"/>

    <!-- Invision specific CSS -->
    <link type="text/css" rel="stylesheet" href="assets/apps/share/css-static/uniform.default.css">
    <link type="text/css" rel="stylesheet" href="assets/apps/share/css-static/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="assets/apps/share/css/share-offline.css">

    <!-- Scripts -->
    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Carousel -->
    <script type="text/javascript" src="carousel/carousel.min.js"></script>
    <!-- Carousel - mods -->
    <script type="text/javascript" src="carousel/carousel-edited.js"></script>
    <!-- Hiding Nav -->
    <script type="text/javascript" src="js/head.js"></script>

  </head>
