<div class="post-content">
  <p><span class="dropcap">Since</span> I recently boarded the podcast train, I haven't really ventured out of the territory of The Moth, (which I have mentioned before <a href="#">on this blog</a>) and one other podcast that is very special to me. Everything you ever wanted to know about very specific, seemingly random, and rarely discussed topics of design and architecture that shape our world. These are the things that we don't really ever notice or think about, but are often ubiquitous in our daily lives.</p>

  <h2>On The Other Hand</h2>

  <p>This podcast is one of the most downloaded podcasts on iTunes, and extremely popular because it answers the questions we never thought to ask, but once we realized they were askable, we were happy to have the answers. It's called 99% Invisible, and it's hosted by the smooth velvety voice of Roman Mars who, if you're a follower of my blog, I mentioned in a post about city flags <a href="#">here</a>.</p>

  <h3>On The Other Hand</h3>

  <p>One episode in particular struck me as particularly noteworthy. When we look at public spaces that are open for all to use, we can notice that there are certain design choices made that actually limit our uses of those spaces. I remember reading that some stores would play a high-pitched mosquito drone sound, only audible to young, undeveloped ear drums. This drone would cause young people to leave instead of loitering around, while not affecting older patrons who might actually purchase something.</p>

  <p>Or, as the podcast states, how about using blue lighting in UK train station bathrooms, which will make veins hard to see through the skin, discouraging drug users from shooting up.</p>

  <p>How about this bench? It looks comfortable enough, right?</p>

  <%- include('_post-image', {
    title: 'Camden Bench',
    caption: 'This bench appears quite the piece of work and craftsmanship, but look closer.',
    img: 'camdenbench.jpg'
  }); %> 

  <p>You may think that the armrests are there to be just that, armrests, but they are actually first and foremost to discourage lying down. This bench only really provides one service: three people can sit, straight-backed, and they can't even really face each other.</p>

  <p>You might consider this a poorly planned tactic against homeless people lying down/sleeping there, which of course no one wants, but why can't we address that problem in a positive way instead of a negative one? How can this be the best solution we can think of?</p>

  <p>With slopes and strange angles forming a massive lump of concrete, this piece of architecture, commissioned by the Camden London Borough Council and installed in Camden, London in 2012, is considered the perfect anti-object. It is designed to be:</p>

  <ol>
    <li>anti-homeless/sleeping because it's angled to prevent lying down</li>
    <li>anti-drug dealing because there are no slots or sunken areas to hide drugs</li>
    <li>anti-theft because there are recesses near the ground for people to store their bags behind their legs</li>
    <li>anti-skateboarding because the edges fluctuate in height, making it difficult to grind off of</li>
    <li>anti-litter because there are not crevices for waste to accrue</li>
    <li>anti-graffiti because it is covered in a paint-resistant coating</li>
  </ol>

  <p>Most of those are noble causes (except perhaps for the sleeping or skateboarding), but at the end of the day, this bench discourages 22 things, and encourages only two.</p>

  <div class="pullquote">Such tactics, called “Unpleasant Design” are intended to discourage a specific behaviour, usually targeting youth or homeless people.</div>

  <p>While these design choices may seem like they do more good than harm (keeping kids from loitering, keeping people from doing drugs, or even keeping homeless people from sleeping on benches), they are actually demoralizing to the end users.</p>

  <p>Developing these public objects to discourage more than encourage behaviour is sad to me because it assumes the worst in people. It reminds users that the people who approved this design consider them likely/probable to commit one of the ‘dastardly deeds’ listed above. Or, more likely, since people are somewhat self-centered when thinking of themselves as good people, makes users think that since this bench is designed this way, there must be people around them who would commit these ‘dastardly deeds’ and the users are susceptible to those deeds as they sit on this bench.</p>

  <p>Some designers have embraced the concept of unpleasant design and incorporated it into political pieces, such as a bench with spikes that only lower out of the way when a coin is inserted.</p>

  <p>I know it may seem ludicrous, but if we continue to deter the negative rather than encouraging the positive, who knows how far into the future this could really be? Maybe I've just been watching too much Black Mirror.</p>

  <p>To listen to the podcast that inspired this blog post, check out 99% Invisible.</p>
</div>
