<div class="post-image">
  <div class="img-container">
    <img src="../img/blog/<%= img %>">
    <div class="img-caption">
      <div class="img-caption-title"><%= title %></div>
      <%= caption %>
    </div>
  </div>
</div>
