<div class="work-container">
  <div class="work-container-inner"></div>
  <div class="element <%= id %>">
    <a href="<%= url %>" class="element-inner">
      <br><br><%= title %><br>
      <%= description %>
      <br><br><div class="work-btn">VIEW PROJECT</div>
    </a>
  </div>
</div>
