<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">
      <img src="img/beef/splash.png" class="splash-image">

      <div class="work-content-inner">

        <div class="content">
          <p>
            <div class="question bold">
              <span class="capital">Q: </span>How can we make beef consumption more sustainable?
            </div><br>
            <div class="question bold">
              <span class="capital">A: </span>
              What's Your Beef
            </div>
            <div class="description bold">a digital and print brochure</div>
            This project consists of a printed brochure at 22 x 34", and a completely immersive digital publication for iPad made with Digital Publishing Suite in Adobe Indesign.
          </p>
          <p>The raising of cattle for beef consumption is currently one of the main sources of greenhouse gases in the world, and a large contributor to the crisis of global warming. This publication takes the viewer through the basic facts they need in order to understand the state of the problem as it stands, as well as provides the viewer with a guide outlining ways to consume beef products in a more ecologically responsible way.</p>
          <p><span class="bold">The goal of the project is to create awareness about a world issue through two contrasting forms of media. The same content is used across both platforms, but the design approach is inherently different.</span></p>
        </div>

        <div class="subhead">Printed piece - 22 x 34" unfolded</div>
        <img src="img/beef/Cowbig1.png" class="imgs">

        <div class="subhead">Closeups of the printed piece</div>
        <img src="img/beef/beefclose.png" class="imgs">

        <div class="subhead">Similar content displayed in printed and digital format</div>
        <img src="img/beef/beefpages.png" class="imgs">
        <img src="img/beef/beefscreens.png" class="imgs">

        <div class="content"><br>
        <p>Many people do not like to be confronted with hard-to-solve world issues, and especially not issues which ask them to change their lifestyle. Keeping this in mind, I designed this publication to be completely immersive and interesting for the viewer. In the digital version, every page contains interactions that further explain the information and keep the viewer enticed at the same time. <span class="bold">The publication aims to arm the viewer with knowledge without preaching or ordering the viewer to take action.</span></p></div>
        
        <div class="subhead">The iPad screen flows</div><img src="img/beef/cowflow.png" class="imgs">

        <div class="subhead">A video of the iPad interaction</div><center><div class="video"><iframe src="http://player.vimeo.com/video/81127551" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></center><br>
        <center><div class="content"><p>This project won an RGD Social Good Award for 2014.<br>You can view it on the <a href="http://www.rgd.ca/events-and-programs/so-good-awards.php#sogood-2014">RGD website</a>.<p>To get a more in-depth look at the pieces, view them in PDF format:</p><br><a href="img/beef/WhatsYourBeefPrint.pdf" target="blank" class="more bold">PRINT</a><a href="img/beef/WhatsYourBeefDigital.pdf" target="blank" class="more bold">DIGITAL</a>
        </div></center>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../fgs">
          <div class="next">previous project</div>
          FGS TURNS 50</a>
        </td></a>
        <td align="right" width="50%"><a href="../revolution">
          <div class="next">next project</div>
          U OF T REVOLUTION</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>

</html>