<!DOCTYPE html>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content" id="top"><br>

      <img src="img/brainStation/banner.png" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content">
          <p>

          <div class="question bold"><span class="capital">Q: </span>How can we utilize transferable skills into UX/UI design in ten short evenings?</div><br>

          <div class="question bold"><span class="capital">A: </span>BrainStation’s Design Program</div><div class="description bold">a part-time instructor position</div>I am a Lead Instructor in BrainStation's User Experience and User Interface Design programs. Through these 10-week part-time programs, I guide students through the fundamentals of user experience, design thinking, creative problem solving, visual design and prototyping their own mobile app. </p>
          <p>I work actively on the course curriculum throughout each semester; keeping it up-to-date with the changing industry. Eight semesters and counting!</p>
          <p><span class="bold">The goal of the course is often for students to gain the skills (and confidence) to transition from another field into a full-time design position. Sometimes the field is similar such as engineering or product management, but often students come into design from seemingly unrelated fields. I do my best to show them that the skills they have from these professions often help to create a unique and insightful worldview that they can use to their advantage in the design process. </span></p>

          <p class="bold large" id="problem">Classroom Experience</p>
          <img src="img/brainStation/class-shot2.jpeg" class="imgs">  
          <p>I ensure to provide a thorough instruction on topics and give real-life examples. Students tend to be curious about the day-to-day experience of being a designer, so I try to bring examples from my own work to illustrate what it might be like for them in their next design role.</p>
          <p>I also ensure the classroom is a safe space by giving everyone a chance to share and discuss topics amongst themselves. I believe they can learn as much from each other as they can from me, and I see great outcomes in students who choose to work in groups when given the option.</p>

          <p class="bold large" id="logo">Remote Learning</p>
          <img src="img/brainStation/grid.png" class="imgs">  
          <p>The pandemic hit in week 8 of my Spring UI design course. Those students were especially impressive as they made the graceful switch from in-class learning to remote, presenting their final projects over zoom.</p>
          <p>From then on, I knew that the online learning experience would play out differently and I needed to adjust my teaching style to accommodate. I introduced more breaks in the content, knowing that the average attention span drops significantly between in-person and online experiences. I found the best way to create these breaks was to create a safe zoom space and give students permission to ask questions, discuss with each other, and take an active role in their own education. In some cases, this weekly class is a sort of respite for the students from the crazy world we live in, so I take my role very seriously in ensuring the space is fun, inclusive, and a joyful place to be. </p>


          <p class="bold large" id="logo">Student Spotlight</p>
          <img src="img/brainStation/amanda.jpeg" class="imgs imgs-halfsize">  
          <p>Amanda (second from left) was a student of mine who went on to win a hackathon at BrainStation with a weekend of quick research, design and rapid prototyping. I was amazed to see her use the skills I taught her to such a high degree of success so quickly.</p><br><br>

          <img src="img/brainStation/tanya.jpeg" class="imgs imgs-halfsize">  
          <p>Tanya took my UI Design class while working in the Konrad Group/BrainStation head office as a strategy and technology consultant. Her praise of my teaching style was a high compliment considering she has taken four other BrainStation courses.</p>
          

        </div>
        <br>

        <center><a href="https://brainstation.io/course/online/user-experience-design" target="blank" class="more bold">BRAINSTATION DESIGN</a></center>

      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../kardia">
          <div class="next"><span class="prevnext">previous</span><br>Kardia</div>
          </a>
        </td></a>
        <td align="right" width="50%"><a href="../mantle">
          <div class="next"><span class="prevnext">next</span><br>Mantle</div>
          </a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>
    
  </body>
</html>