<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">

      <img src="img/causes/splash.png" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we ease the pain of losing a loved one?</div><br>

        <div class="question bold"><span class="capital">A: </span>Downfall By Numbers</div><div class="description bold">an interactive data visualization</div>This project consists of an interactive digital infographic, made with <a href="http://processing.org">Processing</a>, a programming language.</p>
        <p>At the beginning of this project, I had a goal in mind of making generative art through the outcomes produced in an interactive data visualization. I looked through a multitude of sources for open datasets, and settled eventually on Statistics Canada’s dataset on causes of death in Canada.</p><p>The mourning process is a difficult thing for humans to face, and I wanted to create a visual analytic tool that would bring some meaning or sense to the death of people’s loved ones. Some people enjoy statistics, which show them that they are not alone in their suffering. Others enjoy knowing that the death of their loved ones will affect others as well as themselves, and would appreciate seeing a visual representation of the deaths shown in a more pleasant subject matter. From these ideas, I decided to create a visual analytic tool that both displays statistics and generates a pattern based on the province and year in which a person passed away. It may seem grim, but I would hope that those suffering from loss would find some solace in the data and patterns created by the tool.
        </p>
        <p><span class="bold">The goal of the project is to to ease the process of grieving by providing both statistics and creating something beautiful out of sad subject matter.</span></p></div>

        
        <div class="content"><br><p>The full piece</p></div><img src="img/causes/thing.png" class="imgs">
        
        <div class="content"><p><br>When a specific province is selected.</p></div><img src="img/causes/thing2.png" class="imgs">

        <div class="content"><br>
        <p>Viewers can choose to view the country's rankings as a whole, or view more information for a specific province. They can also select a year between 2000 and 2011.</p></div><br>
        
        <div class="content"><p><br>Selecting a year</p></div><br><img src="img/causes/death3-1.gif" class="imgs">
        
        <div class="content"><p><br>Selecting a province</p></div><br><img src="img/causes/death2-1.gif" class="imgs">
        
        <div class="content"><p><br>Hover over the legend to compare a cause throughout the provinces.</p></div><img src="img/causes/death1-1.gif" class="imgs">
        
        <div class="content"><p><br>Each of the ten causes of death required a small icon or glyph to represent the way it causes destruction. I conducted some research into the visual ways that these causes manifest themselves in order to create a true representation in icon format. I went through many iterations of these glyphs, ensuring that they were different enough from each other, yet still felt like they were part of the same language as each other. Also, I was careful not to invoke symbolism that was unrelated to the causes.</p></div><center><img src="img/causes/glyphs.png" width="80%"></center>
        
        <div class="content"><p><br>I also created a promotional poster to further explain the visualization.</p><br></div><center><img src="img/causes/deathposter2.png" width="60%"></center>

        <center><br><div class="content"><p>Check out the application, hosted at <a href="http://openprocessing.org">openprocessing.org:</a></p><br><a href="http://www.openprocessing.org/sketch/196721" target="blank" class="more bold">WEBSITE</a>
        </div></center></div>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../upfront">
          <div class="next">previous project</div>
          UPFRONT MAG</a>
        </td></a>
        <td align="right" width="50%"><a href="../hearnow">
          <div class="next">next project</div>
          HEAR & NOW</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>
  </body>
</html>