<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">

      <img src="img/desire/splash.png" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we use design to tell stories in new ways?</div><br>

        <div class="question bold"><span class="capital">A: </span>Objects of Desire</div><div class="description bold">an experimental webpage</div>Objects of Desire is a personal project borne of my love for the stories told by inanimate objects. I made this website as a way to explain a trip that I took through the objects that I acquired. I wanted to create an experience that would make the user feel like we were looking at the objects together in a room, as opposed to (probably) by themselves on a digital screen.</p>
        <p><span class="bold">The goal of the webpage is to use the tools of design to find new methods of communication. I wanted to be able to immerse the user into the story of my trip through the mini-stories told by the objects I picked up along the way.</span></p></div>

        <img src="img/desire/desire.png" class="imgs">

        <img src="img/desire/desire2.png" class="imgs">

        <center><div class="content"><p><br>To view the webpage, follow the button below.</p><br><a href="../objects" target="blank" class="more bold">ENTER</a></div></center>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../flora">
          <div class="next">previous project</div>
          FLORA & FAUNA</a>
        </td></a>
        <td align="right" width="50%"><a href="../upfront">
          <div class="next">next project</div>
          UPFRONT MAG</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>
    
    <%- include('_footer-about'); %>

  </body>
</html>