<!DOCTYPE html>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content" id="top"><br>

      <img src="img/teaching/banner.png" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content">
          <p>

          <div class="question bold"><span class="capital">Q: </span>How can we share our knowledge in a classroom setting to guide the next generation of designers?</div><br>


          <div class="question bold"><span class="capital">A1: </span>York University Design Program</div><div class="description bold">a part-time instructor position</div>I am currently a course director and lecturer in several courses within York University's Bachelor of Design program.</p>
          <p>I guide students through various courses such as designing for real world environments, designing for screen and developer handoff, and advanced app/web prototyping. I also develop course content, guide course instructors, and organize grading and administration for the courses.</p>
          <p><span class="bold">The goal of the four-year program is to blend a university/theoretical approach with a college/hands-on approach so students can grasp the "why" as well as the "how".</span></p>

          <div class="question bold"><span class="capital">A2: </span>BrainStation Design Program</div><div class="description bold">a part-time instructor position</div>I worked as a class instructor since 2017 over nine semesters in BrainStation's User Experience and User Interface Design programs. Through these 10-week part-time programs, I guided students through the fundamentals of user experience, design thinking, creative problem solving, visual design and prototyping their own mobile app. </p>
          <p>I worked actively on the course curriculum throughout each semester; keeping it up-to-date with the changing industry. I taught eight semesters of design curriculum, alongside one-day workshops and other special engagements.</p>
          <p><span class="bold">The goal of the course is for students to gain the skills (and confidence) to transition from another field into a full-time design position. Sometimes the field is similar such as engineering or product management, but often students come into design from seemingly unrelated fields. I showed them that the skills they have from these professions often help to create a unique and insightful worldview that they can use to their advantage in the design process. </span></p>

          <p class="bold large" id="problem">Classroom Experience</p>
          <img src="img/teaching/class-shot2.jpeg" class="imgs">  
          <p>I provide a customized, thorough instruction on topics and share real-life examples from design sources, social media, pop culture and beyond. Students tend to be curious about the day-to-day experience of being a designer, so I also bring examples from my own work to illustrate what it might be like for them in their next design role.</p>
          <p>I ensure the classroom is a safe space by giving everyone a chance to share and discuss topics. They can learn as much from each other as they can from me, and I see great outcomes in students who choose to work in groups when given the option.</p>

          <p class="bold large" id="logo">Remote Learning</p>
          <img src="img/teaching/grid.png" class="imgs">  
          <p>I continued to teach through the 2020 COVID pandemic, employing remote learning techniques. Students were especially impressive as they made the graceful switch from in-class learning to remote, presenting their final projects over zoom.</p>
          <p>From then on, I knew that the online learning experience would become more and more common, and that I needed to adjust my teaching style to accommodate. I fostered a safe zoom space and gave students permission to ask questions, discuss with each other, and take an active role in their own education. The remote or physical classroom can acts as a structured and calming space in students' lives, so I take my role very seriously in ensuring the space is fun, inclusive, and a joyful place to be. </p>


          <p class="bold large" id="logo">Student Spotlight</p>

          <img src="img/teaching/york-students1.jpg" class="imgs imgs-halfsize">  
          <p>These four students Carley, Beatrice, Fiona and Ashley put their research of rehabilitation and love for music to work here with a fun interactive device using karaoke and music as memory tools to help stroke patients regain their linguistic and recall skills.</p>

          <img src="img/teaching/ben.jpeg" class="imgs imgs-halfsize">  
          <p>Ben was a student in my York U class Designing for Human Interactions. With my guidance he created a pill dispensing machine for seniors to age actively and always be reminded to take their medication at the proper time. </p>
          <img src="img/teaching/amanda.jpeg" class="imgs imgs-halfsize">  
          <p>Amanda (second from left) was a student of mine at BrainStation who went on to win a hackathon at BrainStation with a weekend of quick research, design and rapid prototyping. I was amazed to see her use the skills I taught her to such a high degree of success so quickly.</p><br><br>

          <img src="img/teaching/tanya.jpeg" class="imgs imgs-halfsize">  
          <p>Tanya took my UI Design class at BrainStation while working in the Konrad Group/BrainStation head office as a strategy and technology consultant. Her praise of my teaching style was a high compliment considering she has taken four other BrainStation courses.</p>
          

        </div>
        <br>

        <center><a href="https://design.ampd.yorku.ca/" target="blank" class="more bold">YORK DESIGN</a><a href="https://brainstation.io/course/online/user-experience-design" target="blank" class="more bold">BRAINSTATION DESIGN</a></center>

      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../kardia">
          <div class="next"><span class="prevnext">previous</span><br>Kardia</div>
          </a>
        </td></a>
        <td align="right" width="50%"><a href="../daypack">
          <div class="next"><span class="prevnext">next</span><br>DayPack</div>
          </a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>
    
  </body>
</html>