<!DOCTYPE html>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    

    <section class="work-content">

      <img src="img/expo/splash.png" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we learn more about global diversity at home?</div><br>

        <div class="question bold"><span class="capital">A: </span>Expo 2025 </div><div class="description bold">large-scale event branding</div><p>The World Expo is a wondrous thing. It instills in humankind at once both the intrigue of diversity and the thirst for growth. Toronto is currently in the running for the home city of the Expo in 2025, and within my passion for the Expo I have created a branding to be used if we win the Expo. I was inspired by our advancement in technology and connectedness as a civilization over the past twenty years, and have chosen to focus in on this theme throughout my branding.</p>
        <p><span class="bold">The goal of the project is to get the world excited about the World's fair again. While they are very popular in Europe, North America seems to have forgotten that they still exist. I created this brand in the hopes that Toronto would win the bid for the Expo in 2025, which they are currently in the running to achieve.</span></p></div>

        
        <br><div class="content">
        <p class="bold large" id="screens">The Catalyst for the project: The Poster</p><img src="img/expo/expo_1.png" class="imgs imgs-halfsize"></div><center></center>

        <div class="content"><p>Mandarin is displayed as a second (but not secondary) language in conjunction with English. The 2010 Shanghai Expo drew in 72 million attendees, the current record for most people having attended a single event in human history. The people of China have a strong and clear passion for the Expo, and we should welcome them to Toronto with open arms.</p><br></div>

        <div class="content"><p>
        <p class="bold large" id="screens">Event Website</p>The project also contains a completely responsive event site which displays information about events, the map, and the history of the Expo in Canada. You can view the site on any device, including desktop, mobile, and tablet. Check it out <a href="../expo/index" target="blank">here</a>.</p><img src="img/expo/expo_site.png" class="imgs"></div>

        <div class="content"><p>
        <p class="bold large" id="screens">Promo Animation</p>This is a short animated commercial for the Expo. My aim was to promote the Expo in a way that displays its relevance to modern life and to work-content awareness of what the Expo is all about.</p></div>

        <center><div class="video"><iframe src="http://player.vimeo.com/video/92346741" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></center><br>

        <div class="content"><p>
        <p class="bold large" id="screens">Passport</p>The Expo generally awards a 'passport' to each visitor, in which they may collect the stamps of each pavilion that they enter. These are some photographs of the printed passport. It is completely bilingual, with a two-language pullout map in the middle.</p>
        <img src="img/expo/passport.png" class="imgs"></div>

        <div class="content"><p>I envision that by 2025, there is a possibility that we may do away with the paper passport, at which point the entire process could be continued in a digital way with smartphones. For that reason, I also created a mobile app for expo attendees to download and use as a digital passport. The app features a full listing of events, a map, and a customizable schedule for your personal events and tickets.</p></div>

        <div class="content"><p>
        <p class="bold large" id="screens">Digital Passport (Event App)</p>Check out the working prototype below. If you're viewing this from a mobile phone, <a href="http://marvl.in/50ci9f">click here</a> to see it full screen.</p></div>

        <iframe src="https://marvelapp.com/50ci9f?emb=1" width="384" height="834" allowTransparency="true" frameborder="0" class="imgs"></iframe>

        <div class="content"><p>Since the Toronto bid for the Expo is happening right now, I had the chance to present my work to Toronto's city council during a city hall meeting on January 20, 2014. The video below shows me discussing my work with members of the Economic Development Committee. I hope to continue my involvement in all future proceedings with City Hall as we move forward with our bid for the Expo.</p></div>

        <center><div class="video"><iframe src="http://player.vimeo.com/video/91000303" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></center><br>

        <center><div class="content"><p>The brand is meant to exist as a whole, displayed in the assets below.</p><br>
        <img src="img/expo/expo_brand.png" class="imgs">
        </div></center>


        <center><div class="content"><p>Take a closer look at the website or passport for the expo:</p><br><a href="../expo/index" target="blank" class="more bold">WEBSITE</a><a href="img/expo/expo_passport.pdf" target="blank" class="more bold">PASSPORT</a>
        </div></center>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../inuitart" class="link">
          <div class="next"><span class="prevnext">previous</span><br>Cultural Networks</div>
          </a>
        </td></a>
        <td align="right" width="50%"><a href="../21days" class="link">
          <div class="next"><span class="prevnext">next</span><br>21 Days</div>
          </a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>
    
    <%- include('_footer-about'); %>

  </body>

</html>