<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">

      <img src="img/fav/splash.jpg" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we interpret the forms of value that we place on inanimate objects?</div><br>

        <div class="question bold"><span class="capital">A: </span>Favourite Things</div><div class="description bold">a print and digital catalog of favourite objects</div>I have always wondered why and how certain items take on new forms of value as time goes on. Many people have a favourite item which they perceive to have more value than the amount of money exchanged for them. In order to answer these queries I interviewed 30 people about an item they believe to be special to them. I left the reasoning beyond that up to each person, acting only as a conduit between their descriptions of their objects and the catalog.</p>
        <p><span class="bold">The goal of the catalog is to interpret the reasons behind why people place high value on items that may seem useless or ugly or worthless to others. This project also features the use of <a href="http://d3js.org">D3.JS</a>, a Javascript library specializing in interactive data visualizations.</span></p></div>

        <img src="img/fav/front.png" class="imgs">

        <div class="content"><br><p>The printed book</p><p>I interviewed each person and photographed their object for a visual interpretation of their description. Each object has its own double-page work-content in the first section, which is based on memory and abstraction.</p><br></div>

        <img src="img/fav/stories.png" class="imgs">

        <div class="content"><br><p>The abstracted images on the left side of the pages are meant to represent the objects through the way the stories describe them, as a sort of memory of an item more than the item itself.</p><br></div>

        <img src="img/fav/data1.gif" class="imgs">

        <div class="content"><br><p>The second section takes all of the collected qualitative data and analyzes it in its quantitative form. Using infographics, the various definitions of value are compared.</p><br></div>

        <img src="img/fav/data2.gif" class="imgs">

        <div class="content"><br><p>Some of the infographics make use of translucency with layers of vellum to compare more at once.</p><br></div>

        <img src="img/fav/back.png" class="imgs">
        <img src="img/fav/close.png" class="imgs">

        <br><div class="content"><p>The interactive website</p>The digital component explores a new way to view the content in the print version. The use of <a href="http://d3js.org">D3.JS</a> allows the user to carve their own journey through the stories and data visualizations in a fully interactive experience.</div></div><br>

        <a href="http://chloesilver.ca/favouritethings"><img src="img/fav/faveweb.png" class="imgs"></a>

        <img src="img/fav/fave1-1.gif" class="imgs">

        <div class="content"><br><p>The viewer can move through the website in any order they choose, which allows for a more customizeable journey than the linear experience taken through a book.</p><br></div>
        <img src="img/fav/fave2-1.gif" class="imgs">

        <center><br><div class="content"><p>To read the catalog as a PDF, or to enter the website, use the buttons below:</p><br><a href="img/fav/FavouriteThings2015.pdf" target="blank" class="more bold">CATALOG</a><a href="../favouritethings" target="blank" class="more bold">WEBSITE</a>
        </div></center></div>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../hearnow">
          <div class="next">previous project</div>
          HEAR & NOW</a>
        </td></a>
        <td align="right" width="50%"><a href="../expo2025">
          <div class="next">next project</div>
          EXPO 2025</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>

</html>