<!DOCTYPE html>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">

      <img src="img/fgs/splash.jpg" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we commemorate the joy of fifty years of achievement?</div><br>

        <div class="question bold"><span class="capital">A: </span>FGS Turns 50</div><div class="description bold">branding for an on-campus event</div>York University's Faculty of Graduate Studies celebrated their fiftieth anniversary only a few years after the university's own fiftieth. I was approached by the faculty's staff to create a brand for the event. The two main pieces for the event would be a huge 40-foot banner work-content across the wall of the hallway of the offices, and a historical publication outlining the past fifty years of graduate studies at York U.</p>
        <p><span class="bold">The goal of the brand was to raise awareness of the Faculty of Grad Studies at York and the important work they have achieved and continue to achieve, while keeping close to York's brand guidelines.</span></p></div>

        <img src="img/fgs/banner.jpg" class="imgs">

        <div class="subhead">The cover of the 16-page publication</div>
        <center><img src="img/fgs/cover.jpg" class="imgs imgs-halfsize"></center>

        <div class="content"><p><br>The publication contains 100% original research compiled by myself and Olivia Pellegrino, a graduate student in English at York. The images are sourced largely from the Clara Thomas Archival Library at York, some of them dating back to years as early as the 1960s.</p></div>

        <img src="img/fgs/pub.jpg" class="imgs">

        <div class="content"><p><br>The culmination of my work brought the party thrown by the current FGS staff to commemorate the hard work of every person involved since the inception of the faculty in the 1960s. I was happy to see so many people reading through the publication with joy, was an delighted to meet some of the people I had researched and studied in photos.</p></div>

        <img src="img/fgs/poster.jpg" class="imgs">

        <img src="img/fgs/books.jpg" class="imgs">

        <center><br><div class="content"><p>To get a more in-depth look at the publication, view it in PDF format:</p><br><a href="img/fgs/FiftyYearsOfGradStudies.pdf" target="blank" class="more bold">PUBLICATION</a>
        </div></center></div>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../21days">
          <div class="next"><span class="prevnext">previous</span><br>21 Days</div>
          </a>
        </td></a>
        <td align="right" width="50%"><a href="../checkin">
          <div class="next"><span class="prevnext">next</span><br>Check In</div>
          </a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>

</html>