<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>


    <section class="work-content">

      <img src="img/bean/bean1.jpg" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we incorporate common materials into the communication process?</div><br>

        <div class="question bold"><span class="capital">A: </span>Flora & Fauna</div><div class="description bold">an experiment in material design</div>I have always had a special place in my heart for material and object design. I like to work with my hands whenever possible, and thought it might be interesting to use plantlife as a tool through which to explore a theme.</p>
        <p>I began with the theme of flora and fauna, and how they interact with each other in the cycle of life. Animals eat plants to sustain life, and in turn nourish the soil when they die.</p>
        <p><span class="bold">The goal of the piece is to imagine ways of using materials in unexpected ways in order to convey a particular theme or message. I also used processes that I had never used before such as glass etching, laser cutting and engraving, and even growing plants (for the purposes of design, at least).</span></p></div>

        <img src="img/bean/bean2.jpg" class="imgs">

        <img src="img/bean/bean3.jpg" class="imgs">

        <div class="content"><p><br>Life can sometimes appear so vast in this way that each life may seem like a small blip in the big picture. While this is technically true, I do believe that each living thing leaves its mark in the world. This is where the three geometric shapes come in. All of the terrariums contain the same basic elements, but each one is unique in its own way.</p><p>The dinosaurs themselves are a humourous nod to the fact that many of the items we use every day are made in some part from dinosaur remains (mined oil). Even the figurines, made of plastic, are probably derived from petroleum.</p></div>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../21days">
          <div class="next">previous project</div>
          21 DAYS</a>
        </td></a>
        <td align="right" width="50%"><a href="../desire">
          <div class="next">next project</div>
          OBJECTS OF DESIRE</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>

</html>