<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content" id="top"><br>

      <img src="img/friendcanoe/splash.png" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we strengthen friendships between people with busy lives?</div><br>

        <div class="question bold"><span class="capital">A: </span>FriendCanoe</div><div class="description bold">a mobile app</div>FriendCanoe helps you keep track of your friendships, even with friends you don’t get to see very often.</p>
        <p class="bold">The goal of the app is to help users strengthen their bonds with friends despite being too busy to see them as much as they’d like. Through the use of simple timers and logging, users can set intervals to remind them to hang out and even take a trip down memory lane to see what memories they’ve shared together in the past.</p>

        <p class="bold large" id="prob">Problem Definition</p>
        <p>Throughout the various chapters of human life, a person will usually make some friends. Moving through grades in school, onto university, and with each new job, it can be a lot of work to maintain all of these friendships. Depending on how good your memory is, you may even forget about some people for a while. It happens, we’re all human.</p>

        <p>That’s where FriendCanoe comes in. Unlike any other app, FriendCanoe stores your most important friendships for you and even lets you know when it’s time to hangout with your friends again. Simply add friends, log trips, and sail away together into the sunset of friendship.</p>

        <p class="bold">Project Origin</p>
        <p>FriendCanoe was created as a hackathon project by two people who have too many friends. It’s really more of a curse than a blessing; since there is only so much time in a day.</p>

        <p>This is the original prototype for the app, a Google Keep note that was manually updated each time we would hang out with someone.</p>

        <img src="img/friendcanoe/friendcanoe.gif" class="imgs">

        <p>While easy to implement, this version only had the capacity to store one hangout session, but since we were logging all of this anyway, we wanted the ability to see multiple hangouts in a sort of timeline view. Upon showing this “prototype” to others, we realized that it would be a helpful tool for others as well. So there was definitely a reason to create the app.</p>

        <p class="bold large">Hackathon Setting</p>
        <p>Validating ideas to decide whether to sink time into a project can be difficult, so we decided that we would use the upcoming U of T Hacks IV to get as far as we could in a small amount of time. We started by whiteboarding:</p>

        <img src="img/friendcanoe/whiteboard.png" class="imgs">
        <img src="img/friendcanoe/hack.png" class="imgs">
        <p>I think we took this picture around 2:00AM on the first night.</p>

        <p class="bold large">First Mocks</p>
        <p>This first iteration is what we presented at the end of the Hackathon.</p>

        <img src="img/friendcanoe/firstmocks.png" class="imgs">

        <p>After the hackathon, we decided that we’d like to continue the project. Enough people had expressed interest in its uses, so we knew we were on the right track. There were some specific notes that I wanted to fix in the second, more thorough iteration: </p>
        <ul>
          <li>Playful, but perhaps overly so (we wanted to obscure the scariness of applying health meters to your friendships)</li>
          <li>Use of actual numbered countdowns might be too scary versus just using icons</li>
          <li>Should we provide the ability to pause a friend? Say, if they go on vacation?</li>
          <li>Should we allow the user to set unique intervals of time per friend? I.e. see this friend every 3 months but that friend every month)</li>
        </ul>

        <img src="img/friendcanoe/sketch.jpg" class="imgs">

        <p class="bold large">Second Mocks</p>
        <p>After taking into account the user testing of our first version, it was back to the mocks to implement our findings.</p>

        <img src="img/friendcanoe/secondmocks.png" class="imgs">

        <p class="bold">What's Next?</p>
        <p>The project is still in progress, and I will be updating this page as it moves along. For now, I have created an InVision prototype to further test the design and ensure that we are moving in the right direction as we begin to develop the app into a working product.</p>

        <center><iframe width="438" height="930" src="https://invis.io/YXCOK6778" frameborder="0" allowfullscreen></iframe></center>
        </div>

      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../checkin">
          <div class="next"><span class="prevnext">previous</span><br>Check In</div>
          </a>
        </td></a>
        <td align="right" width="50%"><a href="../inuitart">
          <div class="next"><span class="prevnext">next</span><br>Cultural Networks</div>
          </a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>
    
  </body>
</html>