<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>


    <section class="work-content">

      <img src="img/hear/splash.jpg" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we use storytelling to connect with people we have never met?</div><br>

        <div class="question bold"><span class="capital">A: </span>Hear & Now</div><div class="description bold">a mobile app</div>Travelling is a way to make our big world imgs-halfsize. Many people see travel as a rite of passage, a way of broadening one’s horizons and learning more about the external world as well as the internal world (one’s inner self). While travel enables us to grow in ways that are incredibly meaningful and empowering to one’s spirit, the actual planning and funding of one’s travels can be hard to come by. Especially for young people who have the most freedom and energy needed for travel, there are no available funds or experience of how to conduct oneself in a new environment. These hurdles make travel inaccessible at a time in our lives when we are most easily suited to it.</p>

        <p><span class="bold">The goal of the app is to speed up the learning curve of being in a new place, all held within an affordable environment. Instead of finding and paying an expensive tour guide who may not be able to customize the trip to your interests, all you need is the app and access to the internet. The user-created content is both economically friendly and inspirational because it comes from the mouths of the people who know what they are talking about.</span></p>
        <p>You can learn more about the app on its dedicated website. The image below will link you to the website.</p></div>

        <a href="../hear/index" target="blank"><img src="img/hear/website.jpg" class="imgs"></a>

        <div class="content"><br><p>The app's unique selling proposition comes from the way that each story is recorded in the voice of the person who experienced that story. That way the story becomes extremely personal through tone of voice, flow, and selective pauses.</p><br></div>

        <img src="img/hear/flow2.jpg" class="imgs">
        <center><img src="img/hear/hear2-1.gif" width="50%"></center>

        <div class="content"><br><p>The app is also extremely location-based. You can only record or listen to a story about the place in which you are currently standing, which is meant to propel the immersive experience of learning about the place in which you are located at the current moment.</p><br></div>

        <img src="img/hear/flow.jpg" class="imgs">
        <center><img src="img/hear/hear1-1.gif" width="50%"></center>

        <div class="content"><p>Check out the working prototype below. If you're viewing this from a mobile phone, <a href="https://marvelapp.com/2846ef">click here</a> to see it full screen. Or, if you use Marvel, you can see it directly in the app for the most immersive experience.</p></div>

        <iframe src="https://marvelapp.com/2846ef?emb=1" width="384" height="834" allowTransparency="true" frameborder="0" class="imgs"></iframe>

        <center><br><div class="content"><p>Visit the app's dedicated website below:</p><br><a href="../hear/index" target="blank" class="more bold">WEBSITE</a>
        </div></center></div>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../causes">
          <div class="next">previous project</div>
          DOWNFALL BY NUMBERS</a>
        </td></a>
        <td align="right" width="50%"><a href="../favethings">
          <div class="next">next project</div>
          FAVOURITE THINGS</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>
</html>