<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-home'); %>

  <body>

    <%- include('_header-nav'); %>



    <div class="me piece">
      <img src="img/faces.gif" class="phone faces">
      <div class="piece-description">
        <div class="project-title">Howdy, I'm Chloe.
        </div>
        <div class="blurb">
          I like to think of my projects as answers to questions. Scroll down to see some of my work, or send me an email if you want to chat.
        </div>
        <a href="mailto:hello@chloesilver.ca"><button class="btn">EMAIL ME</button></a>
        <center><img src="img/friendcanoe/phone.png" class="phone-mobile"></center>
      </div>
    </div>

    <!-- Work Tiles begin -->

    <div class="checkin piece">
      <img src="img/checkin/phone.png" class="phone">
      <div class="piece-description">
        <div class="project-title">
        <img src="img/checkin/logo.png" class="logo"><br>Check In
        </div>
        <div class="blurb">
          Q: How can we help planners keep track of their attendees during events?
        </div>
        <a href="checkin"><button class="btn">VIEW PROJECT</button></a>
        <center><img src="img/checkin/phone.png" class="phone-mobile"></center>
      </div>
    </div>

    <div class="friendcanoe piece">
      <img src="img/friendcanoe/phone.png" class="phone">
      <div class="piece-description">
        <div class="project-title">
        <img src="img/friendcanoe/logo.png" class="logo"><br>FriendCanoe
        </div>
        <div class="blurb">
          Q: How can we strengthen friendships between people with busy lives?
        </div>
        <a href="friendcanoe"><button class="btn">VIEW PROJECT</button></a>
        <center><img src="img/friendcanoe/phone.png" class="phone-mobile"></center>
      </div>
    </div>

    <div class="inuit piece">
      <img src="img/inuitart/phone.png" class="phone">
      <div class="piece-description">
        <div class="project-title">
          <img src="img/inuitart/logo.png" class="logo"><br>Cultural Latitudes
        </div>
        <div class="blurb">
          Q: How can we use augmented reality to raise awareness of the importance of Inuit arts and culture?
        </div>
        <a href="inuitart"><button class="btn">VIEW PROJECT</button></a>
      </div>
    </div>

    <div class="days21 piece">
      <img src="img/21days/phone.png" class="phone">
      <div class="piece-description">
        <div class="project-title">
          21 Days
        </div>
        <div class="blurb">
          Q: How can we build good habits that will stand the test of time?
        </div>
        <a href="21days"><button class="btn">VIEW PROJECT</button></a>
        <center><img src="img/21days/phone.png" class="phone-mobile"></center>
      </div>
    </div>

    <div class="fgsp piece">
      <img src="img/inuitart/phone.png" class="phone">
      <div class="piece-description">
        <div class="project-title">
        <img src="img/fgs/logo.png" class="logo"><br>
          50 Years of Graduate Studies
        </div>
        <div class="blurb">
          Q: How can we commemorate the joy of fifty years of achievement?
        </div>
        <a href="fgs"><button class="btn">VIEW PROJECT</button></a>
      </div>
    </div>

    <div class="archive piece">
      <img src="img/inuitart/phone.png" class="phone">
      <div class="piece-description">
        <div class="project-title">
          Archive
        </div>
        <div class="blurb">
          Past Work 2013 – Present
        </div>
        <a href="archive"><button class="btn">VIEW ARCHIVE</button></a>
      </div>
    </div>

    <%- include('_footer-about'); %>

  </body>
  
</html>