<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-home'); %>

  <body>

    <%- include('_header-nav'); %>



    <div class="me piece" id="maincontent">
      <img src="img/faces.gif" class="phone faces" alt="A gif with 4 frames, each of them a different expression of Chloe's illustrated face. The four expressions are neutral, happy, confused, and nervous.">
      <div class="piece-description">
        <h1 class="project-title">Howdy, <br>I'm Chloe.</h1>
        <div class="blurb">
          I like to think of my projects as answers to questions. Scroll down to see some of my work, or send me an email if you want to chat.
        </div>
        <a href="mailto:hello@chloesilver.ca" class="btn">EMAIL ME</a>
        <center><img src="img/faces.gif" class="phone-mobile faces" alt="A gif with 4 frames, each of them a different expression of Chloe's illustrated face. The four expressions are neutral, happy, confused, and nervous."></center>
      </div>
    </div>

    <!-- Work Tiles begin -->


    <div class="library piece">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title"><img src="img/library-report/library-logo.png" class="logo" alt="Loopio logo."><br>Library Report
        </h2>
        <div class="blurb">
          Q:  How can we give companies more ownership over their business data?
        </div>
        <a href="library-report" class="btn">VIEW LIBRARY REPORT</a>
      </div>
    </div>


    <div class="kardia piece">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title">
          <img src="img/kardia/kardia.svg" class="logo" alt="Kardia logo."><br>Kardia
        </h2>
        <div class="blurb">
          Q: How can we ensure consistency throughout the experience and interface of Vena’s entire platform?
        </div>
        <a href="kardia" class="btn">VIEW DESIGN SYSTEM</a>
      </div>
    </div>


    <div class="teaching piece">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title"><img src="img/teaching/education-logo.png" class="logo" alt="BrainStation and York University logos."><br>Teaching Experience
        </h2>
        <div class="blurb">
          Q: How can we share our knowledge in a classroom setting to guide the next generation of designers?
        </div>
        <a href="education" class="btn">VIEW TEACHING EXPERIENCE</a>
      </div>
    </div>

    <div class="daypack piece">
      <img src="img/daypack/phone.png" class="phone" alt="An iPhone whose screen shows the Daypack mobile app.">
      <div class="piece-description">
        <h2 class="project-title">
        <img src="img/daypack/daypack-logo.svg" class="logo" alt="The logo for Daypack."><br>DayPack
        </h2>
        <div class="blurb">
          Q: How can we lessen the difficulties of travelling far distances through mental and physical preparation before a trip?
        </div>
        <a href="daypack" class="btn">VIEW DAYPACK</a>
        <center><img src="img/daypack/phone.png" class="phone-mobile" alt="An iPhone whose screen shows the Daypack mobile app."></center>
      </div>
    </div>


    <div class="powerbi piece" id="work">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title">
          <img src="img/powerbi/powerbi-logo.svg" class="logo" alt="Power BI logo."><br>Power BI Embed
        </h2>
        <div class="blurb">
          Q: How can we help companies make data-driven decisions and better understand their data through visualizations and AI?
        </div>
        <a href="powerbi" class="btn">VIEW PROJECT</a>
      </div>
    </div>

    <div class="mantle piece">
      <img src="img/mantle/phone.png" class="phone" alt="An iPhone whose screen shows the homepage redesign of Mantle's mobile app.">
      <div class="piece-description">
        <h2 class="project-title">
        <img src="img/mantle/logo.png" class="logo" alt="The logo for Mantle: an circular simplified tree emblem with the word 'mantle' to the right of it."><br>Mantle
        </h2>
        <div class="blurb">
          Q: How can we improve the experience of finding a home while retaining our roots?
        </div>
        <a href="mantle" class="btn">VIEW MANTLE</a>
        <center><img src="img/mantle/phone.png" class="phone-mobile" alt="An iPhone whose screen shows the homepage redesign of Mantle's mobile app."></center>
      </div>
    </div>

    <div class="archive piece">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title">
          Archive</h2>
        <div class="blurb">
          Past Work 2013 – Present
        </div>
        <a href="archive" class="btn">VIEW ARCHIVE</a>
      </div>
    </div>

    <%- include('_footer-about'); %>

  </body>
  
</html>