<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-home'); %>

  <body>

    <%- include('_header-nav'); %>



    <div class="me piece" id="maincontent">
      <img src="img/faces.gif" class="phone faces" alt="A gif with 4 frames, each of them a different expression of Chloe's illustrated face. The four expressions are neutral, happy, confused, and nervous.">
      <div class="piece-description">
        <h1 class="project-title">Howdy, <br>I'm Chloe.</h1>
        <div class="blurb">
          I like to think of my projects as answers to questions. Scroll down to see some of my work, or send me an email if you want to chat.
        </div>
        <a href="mailto:hello@chloesilver.ca" class="btn">EMAIL ME</a>
        <center><img src="img/faces.gif" class="phone-mobile faces" alt="A gif with 4 frames, each of them a different expression of Chloe's illustrated face. The four expressions are neutral, happy, confused, and nervous."></center>
      </div>
    </div>

    <!-- Work Tiles begin -->


    <div class="brains piece">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title">
          <img src="img/brainstation/brainlogo.png" class="logo" alt="The logo for Chloe's FriendCanoe project - a yellow circle with a small cute orange boat in the middle of it. The circle is meant to be the sun."><br>BrainStation Design
        </h2>
        <div class="blurb">
          Q: How can we utilize transferable skills into UX/UI design in ten short evenings?
        </div>
        <a href="brainstation" class="btn">VIEW TEACHING EXPERIENCE</a>
      </div>
    </div>

    <div class="mantle piece" id="work">
      <img src="img/mantle/phone.png" class="phone" alt="An iPhone whose screen shows the homepage redesign of Mantle's mobile app.">
      <div class="piece-description">
        <h2 class="project-title">
        <img src="img/mantle/logo.png" class="logo" alt="The logo for Mantle: an circular simplified tree emblem with the word 'mantle' to the right of it."><br>Mantle
        </h2>
        <div class="blurb">
          Q: How can we improve the experience of finding a home while retaining our roots?
        </div>
        <a href="mantle" class="btn">VIEW MANTLE</a>
        <center><img src="img/mantle/phone.png" class="phone-mobile" alt="An iPhone whose screen shows the homepage redesign of Mantle's mobile app."></center>
      </div>
    </div>

    <div class="checkin piece" id="work">
      <img src="img/checkin/phone.png" class="phone" alt="An iPhone whose screen shows the attendee list of Chloe's Check In app.">
      <div class="piece-description">
        <h2 class="project-title">
        <img src="img/checkin/logo.png" class="logo" alt="The logo for Chloe's Check In app: the words 'check' and 'in' with an arrow pointing forward."><br>Check In
        </h2>
        <div class="blurb">
          Q: How can we help planners keep track of their attendees during events?
        </div>
        <a href="checkin" class="btn">VIEW CHECK IN</a>
        <center><img src="img/checkin/phone.png" class="phone-mobile" alt="An iPhone whose screen shows the attendee list of Chloe's Check In app."></center>
      </div>
    </div>

    <div class="friendcanoe piece">
      <img src="img/friendcanoe/phone.png" class="phone" alt="An iPhone whose screen shows the friend list of Chloe's FriendCanoe app.">
      <div class="piece-description">
        <h2 class="project-title">
        <img src="img/friendcanoe/logo.png" class="logo" alt="The logo for Chloe's FriendCanoe project - a yellow circle with a small cute orange boat in the middle of it. The circle is meant to be the sun."><br>FriendCanoe
        </h2>
        <div class="blurb">
          Q: How can we strengthen friendships between people with busy lives?
        </div>
        <a href="friendcanoe" class="btn">VIEW FRIENDCANOE</a>
        <center><img src="img/friendcanoe/phone.png" class="phone-mobile" alt="An iPhone whose screen shows the friend list of Chloe's FriendCanoe app."></center>
      </div>
    </div>

    <div class="inuit piece">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title">
          <img src="img/inuitart/logo.png" class="logo" alt="The logo for Chloe's FriendCanoe project - a yellow circle with a small cute orange boat in the middle of it. The circle is meant to be the sun."><br>Cultural Latitudes
        </h2>
        <div class="blurb">
          Q: How can we use augmented reality to raise awareness of the importance of Inuit arts and culture?
        </div>
        <a href="inuitart" class="btn">VIEW CULTURAL NETWORKS</a>
      </div>
    </div>

    <div class="days21 piece">
      <img src="img/21days/phone.png" class="phone" alt="An iPhone whose screen shows the habit finder of Chloe's 21 Days app.">
      <div class="piece-description">
        <h2 class="project-title">
          21 Days
        </h2>
        <div class="blurb">
          Q: How can we build good habits that will stand the test of time?
        </div>
        <a href="21days" class="btn">VIEW 21 DAYS</a>
        <center><img src="img/21days/phone.png" class="phone-mobile" alt="An iPhone whose screen shows the habit finder of Chloe's 21 Days app."></center>
      </div>
    </div>

    <div class="fgsp piece">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title">
        <img src="img/fgs/logo.png" class="logo" alt="The logo for Chloe's 50 Years of Graduate Studies project - a large numberset five-zero."><br>
          50 Years of Graduate Studies
        </h2>
        <div class="blurb">
          Q: How can we commemorate the joy of fifty years of achievement?
        </div>
        <a href="fgs" class="btn">VIEW FGS PROJECT</a>
      </div>
    </div>

    <div class="archive piece">
      <img src="img/inuitart/phone.png" class="phone" alt="">
      <div class="piece-description">
        <h2 class="project-title">
          Archive</h2>
        <div class="blurb">
          Past Work 2013 – Present
        </div>
        <a href="archive" class="btn">VIEW ARCHIVE</a>
      </div>
    </div>

    <%- include('_footer-about'); %>

  </body>
  
</html>