<!DOCTYPE html>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">
      <img src="../img/inuitart/splash.png" class="splash-image">

      <div class="work-content-inner">
            
        <div class="content">
          <p>
            <div class="question bold">
              <span class="capital">Q: </span>How can we raise awareness of the importance of Inuit arts and culture?
            </div><br>
            <div class="question bold">
              <span class="capital">A: </span>Cultural Networks
            </div>
            <div class="description bold">printed poster & augmented reality experience</div>
            York University's Center for Mobilizing Inuit Cultural Heritage approached me to design an interactive map for "Design Latitudes," an exposition at the University of Alberta.
          </p>
          <p>The map shows major hotspots for Inuit culture and art across Canada, and how they relate and connect to each other. Each image is linked to an augmented reality media piece which can be viewed by pointing a smartphone at it.</p>
          <p><span class="bold">The goal of the piece was to raise awareness of the importance of Inuit art and culture in our lives, and how it can influence how we view other areas of life such as nature and sustainability.</span></p>
        </div>

        <img src="../img/inuitart/poster1.png" class="imgs">

        <div class="content"><p><br>The poster was one of many pieces shown at the University of Alberta's exposition on Inuit art. Because we were confined to a 2D piece without any technology aspect, we relied on the piece of technology that gallery visitors would carry in their pockets: their smartphones.</p></div>

        <img src="../img/inuitart/poster2.png" class="imgs">

        <img src="../img/inuitart/aurasma.png" class="imgs">

        <div class="content"><p><br>Viewers were invited to download the free <a href="http://aurasma.com">Aurasma</a> app, which allowed them to view more content on their smartphone. This technology has the power to overlay the content right on the poster with augmented reality.</p>

        <p>The poster is meant to stand on its own as an informational map of projects, but can be further enhanced with the augmented reality piece which contained further information as well as images, audio pieces and videos.</p></div>

        <center><br><div class="content"><p>To learn more about the MICH or Design Latitiudes, check out their websites below.</p><br><a href="https://mich.othree.ca/" target="blank" class="more bold">MICH</a><a href="http://www.designlatitudes.ca/" target="blank" class="more bold">DESIGN LATITUDES</a>
        </div></center></div>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../friendcanoe" class="link">
          <div class="next"><span class="prevnext">previous</span><br>FriendCanoe</div>
          </a>
        </td></a>
        <td align="right" width="50%"><a href="../21days" class="link">
          <div class="next"><span class="prevnext">next</span><br>21 Days</div>
          </a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>

</html>