<!DOCTYPE html>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">

      <img src="img/parkey/parkey.png" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we connect city commuters with unused condo building parking spots?</div><br>

        <div class="question bold"><span class="capital">A: </span>Parkey</div><div class="description bold">a mobile app</div>Parkey is a revolutionary new way to find parking spots in the city. Using a mobile app, you can gain access to available spots in underground condo parking garages for a reasonable price. Also, you can rest easy knowing that your car is being kept under surveillance by condo security for your entire stay.</p>
        <p>The other interesting component of the app was a piece of hardware that would be installed in the condo buildings themselves. These devices would connect with your smartphone through bluetooth to know when to allow you inside the parking garage.</p>
        <p>Parkey was the lovechild of an amazing Startup Weekend held in Toronto in November 2013.</p>
        <p><span class="bold">The goal of the app was to find a quick and easy way to connect drivers with available parking spots that had not yet been tapped into.</span></p></div>

        <div class="subhead">The hardware test from Startup weekend.</div><div class="video"><iframe src="//player.vimeo.com/video/80175156" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

        
        <div class="subhead">The promotional video</div><div class="video"><iframe src="//player.vimeo.com/video/80212182" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        
        <div class="content"><p><br>With so many apps being created every day (and many for finding parking spots), I created this animation in hopes of attracting new customers. The goal was to reflect the company goals and explain why our app is unique within just a few seconds. The result is a sweet, concise explanation of what Parkey does and why it can be your new best friend.</p></div>
        
        <div class="subhead">Screens from the app</div><center><img src="img/parkey/parkey2.png" class="imgs imgs-halfsize"></center>

        <div class="content"><p><br>The visual feel of the app is meant to be clean and uncluttered. Since a user will be using this while in a hurry to get their car parked, the goal was to make it as simple as humanly possible. Of course, the user is not meant to use the app while they are driving, but from a safe stop at the side of the road. We encourage safe driving!</p></div>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../revolution">
          <div class="next">previous project</div>
          U OF T'S REVOLUTION</a>
        </td></a>
        <td align="right" width="50%"><a href="../flora">
          <div class="next">next project</div>
          FLORA & FAUNA</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>
   
    <%- include('_footer-about'); %>

  </body>

</html>