<!DOCTYPE html>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">

      <img src="img/revo/revo1.jpg" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we raise awareness of gender equality at U of T?</div><br>

        <div class="question bold"><span class="capital">A: </span>R[evol]ution</div><div class="description bold">branding for an on-campus event</div>This project consists of a poster and Facebook group treatment created in conjunction with the University of Toronto, Scarborough campus. The brand itself was promoted through both printed and digital media to work-content word across University of Toronto's campuses and the greater Toronto area.</p>
        <p>The Women's Centre at the University of Toronto, Scarborough campus approached me with a branding project for their annual campaign to promote gender equality. I am always willing to help out fellow students, especially for projects which I believe to be of social importance.</p>
        <p><span class="bold">The goals of the campaign were to raise awareness of the crucial importance of gender equality and the understanding that everyone must be accepted for who they are, regardless of how they view their own personal gender.</span></p></div>

        <div class="subhead">The final poster</div><center><img src="img/revo/revopost.png" class="imgs imgs-halfsize"></center>

        
        <div class="subhead">The facebook treatment</div><img src="img/revo/revofb.jpg" class="imgs">

        
        <div class="subhead">Snapshots from the event</div><img src="img/revo/revosnaps.png" class="imgs">

        <center><div class="content"><p><br>To learn more about the UTSC Women's Centre, <a href="https://www.facebook.com/UTSCWTCentre?ref=br_tf">click here.</a></p></div></center>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../beef">
          <div class="next">previous project</div>
          WHAT'S YOUR BEEF</a>
        </td></a>
        <td align="right" width="50%"><a href="../21days">
          <div class="next">next project</div>
          21 DAYS</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>
</html>