<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content">

      <img src="img/mag/splash.jpg" class="splash-image">

      <div class="infopage">
            
        <div class="content" id="content"><p>

        <div class="question bold"><span class="capital">Q: </span>How can we bridge the gap between musical performers and their audiences?</div><br>

        <div class="question bold"><span class="capital">A: </span>Upfront Magazine</div><div class="description bold">a zine-style magazine</div>The indie music scene in Toronto is bustling with life. With so many venues and more bands than anyone can keep track of, this magazine aims to organize the clutter with each issue. Bringing stories and images together about musicians, audiences, and venues around Toronto, Upfront Magazine aims to bring audiences and their beloved musicians together in a meaningful way.</p>
        <p><span class="bold">The goal of the magazine is to make Toronto's indie music scene more accessible to the average music lover, and to bring indie musicians into the public eye. The first issue of the magazine was distributed to fans and musicians alike at two featured musical events in December 2014.</span></p></div>

        <img src="img/mag/upfront.gif" class="imgs">

        <img src="img/mag/pages.jpg" class="imgs">

        <div class="content"><br><p>The artistic direction of the magazine is meant to match the aesthetic of indie music and its fans, specifically using grungy imagery as a backdrop to very clean and crisp type. Many of the images were photographed by myself and my friends while we enjoyed the concerts, which brings a genuine voice to the magazine.</p><br></div>

        <img src="img/mag/close.jpg" class="imgs">

        <div class="content"><br><p>The magazine is currently circulating the Toronto area in a small run. As I see more people with the magazine, I hope there will be more of these pictures to come.</p><br></div>

        <img src="img/mag/people.jpg" class="imgs">

        <center><br><div class="content"><p>To read the magazine as a PDF, use the button below:</p><br><a href="img/mag/UpfrontMagVol1.pdf" target="blank" class="more bold">MAGAZINE</a>
        </div></center></div>
      </div><br><br><br>

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../desire">
          <div class="next">previous project</div>
          OBJECTS OF DESIRE</a>
        </td></a>
        <td align="right" width="50%"><a href="../causes">
          <div class="next">next project</div>
          DOWNFALL BY NUMBERS</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>
</html> 
