<!DOCTYPE html>
  <html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <%- include('_head-content'); %>

  <body>
    
    <%- include('_header-nav'); %>

    <section class="work-content"><br><br><br>
      <div class="content">
      <p>If you're looking at this ~secret page~, that means you're either a huge fan of Wolf Parade (like me) or maybe...possibly...a member of the band?! I should be so lucky!</p>

      <p>In ritual preparation for my second and third time seeing Wolf Parade play live since they toured with At Mount Zoomer, I felt that I wanted to give something back to the band that has given me so much. Not only some wonderful music, but also the ability for a band to get back together after so long to keep giving their fans amazing shows.</p></div><br>
      <img src="img/wp/wolf.png" class="imgs">


      <br><br><br><br><div class="content"><p>In case anyone wants to know, my favourite songs are (in no particular order):</p>
        <ul>
          <li>
              Kissing the Beehive (At Mount Zoomer)
          </li>
          <li>
              In The Direction Of The Moon (Expo 86)
          </li>
          <li>
              Modern World (Apologies to the Queen Mary)
          </li>
          <li>
              Ghost Pressure (Expo 86)
          </li>
          <li>
              National People's Scare (EP 2004)
          </li>
        </ul>
        <p>I seriously cannot wait to see the band on Friday and Saturday at Lee's Palace. I even still have the shirt I bought at their concert at Koolhaus in 2008. It's gonna be awesome.</p>
      </div>      

      <hr>
      <table border="0" align="center" width="100%"><tr>
        <td colspan="2">
          <
        </td>
        <td></td>
        <td align="left" width="50%"><a href="../fgs">
          <div class="next">previous project</div>
          FGS TURNS 50</a>
        </td></a>
        <td align="right" width="50%"><a href="../revolution">
          <div class="next">next project</div>
          U OF T REVOLUTION</a>
        </td><td></td>
        <td colspan="2">
          >
        </td>
      </tr></table>
      <hr>

    </section>

    <%- include('_footer-about'); %>

  </body>
</html>