*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	height: 100%;
   -webkit-text-size-adjust: 100%;
}
body{
	background-color: #fff;
	padding:0;
	margin:0;
	text-rendering: optimizeLegibility;
	width: 100%;
	min-width: 320px;
	height: 100%;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	color: $black;
}
img{
	max-width: 100%;
}

  ul {
      list-style:none;
  }

a{
	color: $black;
	transition: $transition;
	&:hover,
	&:focus{
		color: $black;
		text-decoration: none;
	}
}

.offscreen{
	position: absolute;
	left: -9999px;
}

#container{
	padding-bottom: 50px;
	display: block;
}
.back-to-top{
	position: fixed;
	bottom: 0;
	right: 0;
}

// Foundation Override
.row{
   max-width: 1370px;
   .row{
      padding-left: 0;
		padding-right: 0;
		margin: 0;
	}
}
