.natural-language{
	h1{
		text-align: center;
	}
	&_form{
		display: flex;
		align-items: center;
		justify-content: center;
		&--container{
			display: flex;
			align-items: center;
			padding: 0;
			p, .select2{
				display: inline-block;
				vertical-align: top;
				margin: 0;
			}
			.select2{
				margin: 0;
			}
			p{
				color: $blue;
				margin: 0 25px;
				font-size: 1.8rem;
			}
		}
	}
	select{
		margin: 0;
		padding: 0;
	}
	label{
		@extend .offscreen;
	}
}
